[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Handbrake
Comment=Handbrake
Exec=ghb
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
